<div class="col-sm-2 col-md-1 sidebar">
  <ul class="nav nav-sidebar">
    <li><a href="/algorithms">Algortithms</a></li>
    <li><a href="/datasets">Test datasets</a></li>
    <li><a href="/saved-results">Saved results</a></li>
    <li><a href="/execute">Exceute</a></li>
  </ul>
</div>