<html>
  {{> header}}
  <body>
    {{> top_nav}}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-2 col-md-11 col-md-offset-1 main">
          <h1 class="page-header">New data</h1>
          <div class="col-md-8 col-sm-12">
            <form action="/save" method="post" class="form-horizontal">
              <div class="form-group">
                  <table class="table">
                    {{#entries}}
                    <tr>
                      <label for="name"></label>
                      <td><input type="text" class="form-control" name="name" value ="{{name}}"></td>
                      <label for="Details"></label>
                      <td><input type="text" class="form-control" name="details" value="{{details}}"></td>
                    </tr>
                    {{/entries}}
                  </table>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  {{> footer}}
  <script src="/static/js/eventemitter2.js"></script>
  <script src="/static/js/algorithm.js"></script>
  </body>
</html>